h1{
    color: blueviolet;
    text-align: center;
}
p{
    color: black;
    font-size: medium;
    text-align: left;
}

ul{
    align-items: flex-start;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
}
body{
    background-color: azure;
    font-size: medium;
}
div{
    padding: 2pc;
    background-origin: padding-box;
}
h6{
    font-style: italic;
    font-size: medium;
}
h3{
    font-size: medium;
    color: burlywood;
    font-family: fantasy;
    
}
.photo{
    text-align: left;
    padding: 2pt;
    flex: auto;
    font-style: normal;
    margin: 2pt;
    align-content: flex-start;
}
li.photo{
    color: darkorange;
    font-size: large;
}
a{
    color: blue;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-content: flex-start;
    margin: 1pt;
}
img{
    height: auto;
    width: auto;
    min-height: 20%;
    max-height: 40%;
    min-width: 40%;
    max-width: 60%;
    float: left;
}
.nav{
    width: 100%;
    height: 5%;
    margin: 1pc;
    background-origin: padding-box;
    box-sizing: content-box;
    border: 1pt;
    border-color: beige;
}

@media screen and (min-width: 480px) and (max-width: 760px) {
    body{
        background-color: burlywood;
        font-size: larger;
    }  
}

@media screen and (min-width: 761px) {
    body {
      background-color: yellowgreen;
      font-size: medium;
    }
  }